<% @restaurants.each do |restaurant| %>
  <div class="container">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <%= link_to "Add a Comment", new_restaurant_review_path(:restaurant_id) %>
  </div>
<% end %>


